<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>cz.juzna.juzbus</string>

	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/juzbus-directory</string>
	</array>

	<key>MachServices</key>
	<dict>
		<key>cz.juzna.juzbus</key>
		<true/>
	</dict>

	<key>RunAtLoad</key>
	<false/>

	<key>KeepAlive</key>
	<false/>

	<key>StandardOutPath</key>
	<string>/tmp/juzbus-directory.log</string>

	<key>StandardErrorPath</key>
	<string>/tmp/juzbus-directory.log</string>
</dict>
</plist>
